In [1]:
import numpy, pandas 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier

df = pandas.read_csv('letterCG.data' , sep=' ')

df.head()

,Class,x-box,y-box,width,high,Unnamed: 5,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,Unnamed: 18
0,C,4,10,5,8,2,5,7,7,10,7,6,13,1,8,4,9,NaN,NaN
1,C,3,5,4,4,2,4,8,5,7,12,9,11,1,10,2,7,NaN,NaN
2,G,5,10,6,7,3,8,7,8,8,6,7,9,2,7,5,10,NaN,NaN
3,C,5,9,6,7,4,3,8,6,7,12,10,13,1,9,3,7,NaN,NaN
4,G,4,8,5,6,3,6,6,7,6,10,7,12,2,9,4,9,NaN,NaN

In [2]:
df.drop(["Unnamed: 5", "Unnamed: 18", "yegvx"], axis=1, inplace=True)

df.fillna(0)

X = df.iloc[:, 1:]

Y = df["Class"]

train_x, test_x, train_y, test_y = train_test_split(X, Y, random_state=5, test_size=0.30)

In [3]:
base_class = DecisionTreeClassifier(max_depth=2)

ada_Boost = AdaBoostClassifier(base_estimator=base_class, n_estimators=400, learning_rate=1, algorithm='SAMME')

ada_Boost.fit(train_x, train_y)

predicted = ada_Boost.predict(test_x)

metrics.accuracy_score(predicted, test_y)

0.9757174392935982